{% extends 'default.twig' %}
{% block title %}
    Estado
{% endblock %}
{% block breadcrumbs %}
    <li>
        <i class="fa fa-angle-right"></i>
        {% if old.id %}
            <a href="{{ path_for('estado.editview',{ id: old.id }) }}">Manter Estado</a>
        {% else  %}
            <a href="{{ path_for('estado.createview') }}">Manter Estado</a>
        {% endif %}
    </li>
{% endblock %}
{% block content %}
    <div class="box-content">
        <h4 class="page-header">Manter Estado</h4>
        <div class="custom-box">
            {% if old.id %}
                <form novalidate="novalidate" role="form" action="{{ path_for('estado.edit',{ id: old.id }) }}" method="post">
                {% else %}
                    <form novalidate="novalidate" role="form" action="{{ path_for('estado.create') }}" method="post">
                    {% endif %}
                    <input type="hidden" nome="id" value="{{ old.id }}"/>
                    <div class="form-group {{ errors.nome ? 'has-error': '' }}">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-2">
                            <label for="nome" class="control-label">Nome</label>
                            <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" value="{{ old.nome }}"/>
                            {% if errors.nome %}
                                <small class="help-block col-sm-9">{{ errors.nome | first }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group {{ errors.sigla ? 'has-error': '' }}">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-1">
                            <label for="sigla" class="control-label">Sigla</label>
                            <input type="text" class="form-control" id="sigla" placeholder="Sigla" name="sigla" value="{{ old.sigla }}" maxlength="2"/>
                            {% if errors.nome %}
                                <small class="help-block col-sm-9">{{ errors.sigla | first }}</small>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-10 custom-spacing-top custom-margin-left">
                            <a type="button" class="btn btn-default" href="{{ path_for('estado.indexview') }}">Voltar</a>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    {% endblock %}

    {% block script %}
        <script src="{{base_url()}}/app/scriptsjs/estado/create.js"></script>
    {% endblock %}