{% extends 'default.twig' %}
{% block title %}
    Tags
{% endblock %}
{% block breadcrumbs %}
    <li>
        <i class="fa fa-angle-right"></i>
        <a href="{{path_for('foto')}}">Fotos</a>
    </li>
{% endblock %}
{% block content %}
<style>
        .datatable img {
            margin-right: 10px;
            border: 1px solid #F8F8F8;
            width: 40px;
          }
</style>

    <div class="row custom-spacing-top">
        <div class="col-lg-1 col-lg-offset-11">
            <a href="{{ path_for('foto.createview') }}" class="btn btn-primary">Nova Foto</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-color box-bordered">
                <div class="box-title">
                    <h3>
                        <i class="fa fa-table"></i>Fotos</h3>
                </div>
                <div class="box-content nopadding">
                    <table class="table table-hover table-nomargin table-bordered order-column datatable" data-path="{{path_for('foto')}}" data-path-actdeact="{{ path_for('foto.setwatermark',{'id' : 0 }) }}" data-path-del="{{ path_for('foto.del',{'id' : 0 }) }}" id="usertable">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nome</th>
                                <th>Marca D'agua</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalCropper" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">Foto</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="img-container">
                                <img id="imgprincipal" src="" style="max-width: 800px;" height="auto" alt="Picture">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="salveFoto">Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="{{base_url()}}/app/template/interno/js/plugins/datatables/jquery.dataTables.js"></script>
<script src="{{base_url()}}/app/scripts/foto/index.js"></script>  
    <script type="text/javascript">
        function ShowModal(url) {
            $('#imgprincipal').attr('src', url);
            $('#modalCropper').modal('show');
        }        
    </script>

    {% if errors %}
        <script type="text/javascript">
            $(function () {
                //$('#modal-validation-errors').modal('show');
            });
        </script>
    {% endif %}

{% endblock %}