<div id="navigation">
    <div class="container-fluid">
        <ul class='main-nav'>
            <li>
                <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
                    <span>Cadastros Basicos</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{path_for('tipoimovel')}}">Tipo de Imovel</a>
                    </li>
                    <li>
                        <a href="{{path_for('itemimovel')}}">Item de Imovel</a>
                    </li>
                    <li>
                        <a href="{{path_for('estado')}}">Estado</a>
                    </li>
                    <li>
                        <a href="{{path_for('cidade')}}">Cidade</a>
                    </li>
                    <li>
                        <a href="{{path_for('bairro')}}">Bairro</a>
                    </li>
                    <li>
                        <a href="{{path_for('construtora')}}">Construtora</a>
                    </li>
                    <li>
                        <a href="{{path_for('midia')}}">Midia</a>
                    </li>
                    <li>
                        <a href="{{path_for('propagandavitrine')}}">Propaganda Vitrine</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
                    <span>Seguranca</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{path_for('usuario')}}">Cadastro de Usuarios</a>
                    </li>
                    <li>
                        <a href="{{path_for('grupo')}}">Grupos e Permissoes</a>
                    </li>
                </ul>
            </li>

            {#<li>
                <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
                    <span>Cadastros Básicos</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Tipo de Fornecedor</a>
                    </li>
                    <li>
                        <a href="#">Fornecedor</a>
                    </li>
                    <li>
                        <a href="#">Tipo de Cliente</a>
                    </li>
                    <li>
                        <a href="#">Cliente</a>
                    </li>
                    <li>
                        <a href="#">Motorista</a>
                    </li>
                    <li>
                        <a href="#">Carreta</a>
                    </li>
                    <li>
                        <a href="#">Carreta (Financiamento)</a>
                    </li>
                    <li>
                        <a href="#">Produto</a>
                    </li>
                    <li>
                        <a href="#">Tipo de Despesa</a>
                    </li>
                    <li>
                        <a href="#">Parâmetro de Tipo de Despesa</a>
                    </li>
                    <li>
                        <a href="#">Tipo de Receita</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
                    <span>Lançamentos</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Viagem</a>
                    </li>
                    <li>
                        <a href="#">Despesa</a>
                    </li>
                    <li>
                        <a href="#">Receita</a>
                    </li>
                </ul>
            </li> #}
        </ul>
        <div class="user">
            {# <ul class="icon-nav">
                <li class='dropdown'>
                    <a href="#" class='dropdown-toggle' data-toggle="dropdown">
                        <i class="fa fa-envelope"></i>
                        <span class="label label-lightred" id="qtde-alertas"></span>
                    </a>
                    <ul class="dropdown-menu pull-right message-ul" id="lista-alerta"></ul>
                </li>
            </ul> #}
            <div class="dropdown">

                {% if user.isAuthenticated() %}

                    <a href="#" class='dropdown-toggle' data-toggle="dropdown">
                        {% set user = user.getUserSession() %}
                        {{user.nome}}
                        <img src="{{ user.urlfoto }}" alt="" width="27px" height="27px">
                    </a>
                {% endif %}

                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="{{path_for('usuario.profileview',{'id':user.id })}}">Editar Perfil</a>
                    </li>
                    <li>
                        <a href="#">Alterar Senha</a>
                    </li>
                    <li>
                        <a href="{{path_for('logout')}}">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>