{% extends 'loginDefault.twig' %}
{% block content %}

    <h2>Faça o Login</h2>

    <form method="POST" action="{{ path_for('login')}}">
        {% include 'templates/messages.twig' %}        
        <div class="form-group">
            <div class="email controls {{ errors.login ? 'has-error': '' }}">
                <label class="control-label">Login</label>
                <input type="text" class="form-control col-lg-4" name="login" value="{{old.login}}"/>
                {% if errors.login %}
                    <small class="help-block col-sm-offset-2 col-sm-9">{{ errors.login | first }}</small>
                {% endif %}

            </div>
        </div>
        <div class="form-group {{ errors.password ? 'has-error': '' }}" >
            <div class="pw controls">
                <label class="control-label">Senha</label>
                <input type="password" class="form-control" name="password"/>
                {% if errors.password %}
                    <small class="help-block col-sm-offset-2 col-sm-9">{{ errors.password | first }}</small>
                {% endif %}
            </div>
        </div>       
        <div class="submit">
            <div class="remember"></div>
            <input type="button" class="btn" value="voltar" />
            <input type="submit" value="Autenticar" class='btn btn-primary'>
        </div>
    </form>
    <div class="forget">
        <a href="#" style="background:#EF9">Não sou cadastrado</a>
        <a href="#">Esqueci minha senha</a>
    </div>
{% endblock %}
{% block script %}{% endblock %}