{% extends 'default.twig' %}
{% block title %}
    Item de Imovel
{% endblock %}
{% block breadcrumbs %}
    <li>
        <i class="fa fa-angle-right"></i>
        {% if old.id %}
            <a href="{{ path_for('itemimovel.editview',{ id: old.id }) }}">Manter Item de Imovel</a>
        {% else  %}
            <a href="{{ path_for('itemimovel.createview') }}">Manter Item de Imovel</a>
        {% endif %}
    </li>
{% endblock %}
{% block content %}
    <div class="box-content">
        <h4 class="page-header">Manter Item de Imovel</h4>
        <div class="custom-box">
            {% if old.id %}
                <form novalidate="novalidate" role="form" action="{{ path_for('itemimovel.edit',{ id: old.id }) }}" method="post">
                {% else %}
                    <form novalidate="novalidate" role="form" action="{{ path_for('itemimovel.create') }}" method="post">
                    {% endif %}
                    <input type="hidden" nome="id" value="{{ old.id }}"/>
                    <div class="form-group {{ errors.nome ? 'has-error': '' }}">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                            <label for="inputEmail3" class="control-label">Nome</label>
                            <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" value="{{ old.nome }}"/>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                            <label for="inputEmail3" class="control-label">Possui Quantidade</label>
                            <input type="checkbox" class="checkbox" value="1" id="possuiqtde" name="possuiqtde" {{ old.possuiqtde? 'checked=\'checked\'':'' }} />
                        </div>                       
                        {% if errors.nome %}
                            <small class="help-block col-sm-9">{{ errors.nome | first }}</small>
                        {% endif %}
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-10 custom-spacing-top custom-margin-left">
                            <a type="button" class="btn btn-default" href="{{ path_for('itemimovel.indexview') }}">Voltar</a>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    {% endblock %}

    {% block script %}
    <script src="{{base_url()}}/app/scriptsjs/itemimovel/create.js"></script>

        {% if errors %}
            <script type="text/javascript">
                $(function () {
                    //$('#modal-validation-errors').modal('show');
                });
            </script>
        {% endif %}

    {% endblock %}