<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <!-- Apple devices fullscreen -->
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <!-- Apple devices fullscreen -->
        <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

        <title>DSolutions - Login</title>

        <link href="{{base_url()}}/app/template/interno/css/bootstrap.css" rel="stylesheet">
        <link href="{{base_url()}}/app/template/interno/css/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
        <link href="{{base_url()}}/app/template/interno/css/plugins/pageguide/pageguide.css" rel="stylesheet">
        <link href="{{base_url()}}/app/template/interno/css/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">

        <link href="{{base_url()}}/app/template/interno/css/plugins/chosen/chosen.css" rel="stylesheet">
        <link href="{{base_url()}}/app/template/interno/css/plugins/select2/select2.css" rel="stylesheet">
        <link href="{{base_url()}}/app/template/interno/css/plugins/icheck/all.css" rel="stylesheet">
        <link href="{{base_url()}}/app/template/interno/css/style.css" rel="stylesheet">
        <link href="{{base_url()}}/app/template/interno/css/themes.css" rel="stylesheet">
        <link href="{{base_url()}}/app/template/interno/css/customizacoes.css" rel="stylesheet">
        <link href="{{base_url()}}/app/template/interno/css/plugins/datatable/TableTools.css" rel="stylesheet">
        <link href="{{base_url()}}/app/template/interno/css/plugins/gritter/jquery.gritter.css" rel="stylesheet">
        <link href="{{base_url()}}/app/template/interno/css/plugins/datepicker/datepicker.css" rel="stylesheet">

        <!--[if lte IE 9]> <script src="js/plugins/placeholder/jquery.placeholder.min.js"></script> <script> $(document).ready(function() { $('input, textarea').placeholder(); }); </script> <![endif]-->

        <!-- Favicon -->
        <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon"/>
        <!-- Apple devices Homescreen icon -->
        <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-precomposed.png"/>

        <style>
            .login .wrapper h2 > a {
                color: #fff;
                display: block;
                font-weight: 300;
                font-size: 48px;
                text-align: center;
                padding: 2px 0;
                text-decoration: none;
            }

            .login {
                background: #282e3a !important;
            }

            .btn-primary {
                background: #fe5e3e !important;
            }

            .login .wrapper .login-body .submit input {
                float: none;
            }
            .login .wrapper {
                top: 43%;
            }
        </style>

    </head>

    <body class='login'>
        <div class="wrapper">
            <h2>
                {# <a href="../Home/Index">
                    <img src="~/Content/Interno/img/logo-big.png" alt="" class='retina-ready' width="400" height="60">
                </a> #}
            </h2>
            <div class="login-body">
                {% block content %}{% endblock %}
            </div>
        </div>

        {# <script src="{{base_url()}}/app/template/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
        <script src="{{base_url()}}/app/template/js/plugins/touch-punch/jquery.touch-punch.min.js"></script>
        <script src="{{base_url()}}/app/template/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="{{base_url()}}/app/template/js/plugins/vmap/jquery.vmap.min.js"></script>
        <script src="{{base_url()}}/app/template/js/plugins/vmap/jquery.vmap.sampledata.js"></script>        
        <script src="{{base_url()}}/app/template/js/plugins/flot/jquery.flot.min.js"></script>
        <script src="{{base_url()}}/app/template/js/plugins/flot/jquery.flot.bar.order.min.js"></script>
        <script src="{{base_url()}}/app/template/js/plugins/flot/jquery.flot.pie.min.js"></script>
        <script src="{{base_url()}}/app/template/js/plugins/flot/jquery.flot.resize.min.js"></script>
        <script src="{{base_url()}}/app/template/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
        <script src="{{base_url()}}/app/template/js/plugins/pageguide/jquery.pageguide.js"></script>
        <script src="{{base_url()}}/app/template/js/plugins/fullcalendar/moment.min.js"></script>
        <script src="{{base_url()}}/app/template/js/plugins/fullcalendar/fullcalendar.min.js"></script>
        <script src="{{base_url()}}/app/template/js/plugins/chosen/chosen.jquery.min.js"></script>
        <script src="{{base_url()}}/app/template/js/plugins/select2/select2.min.js"></script>
        <script src="{{base_url()}}/app/template/js/plugins/icheck/jquery.icheck.min.js"></script>
        <script src="{{base_url()}}/app/template/js/eakroko.js"></script>
        <script src="{{base_url()}}/app/template/js/application.js"></script>
        <script src="{{base_url()}}/app/template/js/demonstration.js"></script> #}
    </body>
</html>